.gold-input-container {
  display: flex;
  flex-direction: column;
}

.rate-input {
  width: 41%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(209, 209, 209);
  color: white;
  align-self: flex-end;

}

.save-button {
  background-color: transparent;
  font-size: 1rem;
  color: green;
  border-radius: 10%;
  width: 20%;
  align-self: flex-end;

}